In [356]:
import pandas as pd

In [357]:
#Dataset is taken from website "https://www.kaggle.com/datasets/nehalbirla/vehicle-dataset-from-cardekho"

used_car=pd.read_csv('car_dekho_cars.csv')

In [358]:
used_car

,name,year,selling_price,km_driven,fuel
0,Maruti 800 AC,2007,60000,70000,Petrol
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel
3,Datsun RediGO T Option,2017,250000,46000,Petrol
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel
...,...,...,...,...,...
4335,Hyundai i20 Magna 1.4 CRDi (Diesel),2014,409999,80000,Diesel
4336,Hyundai i20 Magna 1.4 CRDi,2014,409999,80000,Diesel
4337,Maruti 800 AC BSIII,2009,110000,83000,Petrol
4338,Hyundai Creta 1.6 CRDi SX Option,2016,865000,90000,Diesel
4339,Renault KWID RXT,2016,225000,40000,Petrol

In [359]:
used_car.head()

                       name  year  selling_price  km_driven    fuel
0             Maruti 800 AC  2007          60000      70000  Petrol
1  Maruti Wagon R LXI Minor  2007         135000      50000  Petrol
2      Hyundai Verna 1.6 SX  2012         600000     100000  Diesel
3    Datsun RediGO T Option  2017         250000      46000  Petrol
4     Honda Amaze VX i-DTEC  2014         450000     141000  Diesel

In [360]:
used_car.shape #to check how much data we have

(4340, 5)

In [361]:
used_car.info() #to see type and if there are any null values or not like that

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4340 entries, 0 to 4339
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           4340 non-null   object
 1   year           4340 non-null   int64
 2   selling_price  4340 non-null   int64
 3   km_driven      4340 non-null   int64
 4   fuel           4340 non-null   object
dtypes: int64(3), object(2)
memory usage: 169.7+ KB

In [362]:
#Now check with unique if the date is proper or not
#check if any column include nan/null values
#check int type column first because all data in it should be of int so there imporper data
#that should be cleaned
#we have to now cleaned a dataset

In [363]:
used_car['year'].unique()

array([2007, 2012, 2017, 2014, 2016, 2015, 2018, 2019, 2013, 2011, 2010,
       2009, 2006, 1996, 2005, 2008, 2004, 1998, 2003, 2002, 2020, 2000,
       1999, 2001, 1995, 1997, 1992])

In [364]:
used_car['selling_price'].unique()

array([  60000,  135000,  600000,  250000,  450000,  140000,  550000,
        240000,  850000,  365000,  260000, 1650000,  585000, 1195000,
        390000, 1964999, 1425000,  975000, 1190000,  930000,  525000,
       1735000, 1375000,  900000, 1300000, 1400000,  229999, 1550000,
       1250000,  625000, 1050000,  560000,  290000,  275000,  411000,
        150000,  500000,  100000,  725000,  401000,  750000,  310000,
        665000,  465000,  160000,  675000,  300000,   70000,  151000,
        280000,  350000,  570000,  125000,  130000,  925000,  200000,
        248000,   80000,  650000,  495000,  371000, 1025000, 8150000,
        325000, 1470000, 2800000,  210000, 1150000, 4500000, 2750000,
       1975000,  175000, 2500000,  628000,  399000,  315000,  780000,
        434000,  690000,  555000,  120000,  165000,   95000,  800000,
        840000,  490000,  400000, 1000000,  530000,   40000,   75000,
        540000,  700000,  430000,   65000,  195000,  170000,  225000,
         99000,  620000, 2550000,  320000,  810000,  282000,   72000,
        640000,  380000, 1500000,  434999,  190000, 2900000,  425000,
        265000,  890000,  685000,  940000,  590000,  385000, 2000000,
        235000,   52000,   89999,  180000,  285000, 1075000,   90000,
        220000,  110000,  880000,  115999,  360000,  680000,  860000,
        270000,  395000,  624000,  345000,  106000, 1800000,  575000,
        370000,   50000,   55000,  755000,  720000, 1100000,  159000,
        335000,  185000,  470000,  145000,  595000, 1600000,  105000,
        409999,  215000,  475000,  330000, 1044999, 1350000,  420000,
        760000,   43000, 1850000, 1125000,  133000,  352000,  520000,
        509999,  556000,  484999,  565000,  295000, 2050000, 1475000,
       4400000,  670000,  770000,  775000, 1725000, 2150000, 3800000,
       1580000, 4950000,  535000,  239000, 2600000,  114999,  200999,
        710000,  969999,  155000,  138000,  311000,   58000,  183000,
        825000,  299000,  639000,  415000, 1199000,  699000,  269000,
        249000, 1549000,  254999,  211000,  599000, 4000000, 1200000,
         98000,  790000, 1700000,   68000,  875000, 1330000,  919999,
        611000,  711000,  851000,  610000,  744000,  480000,  950000,
         85000,  615000,  227000,  222000,  735000,  271000, 1490000,
        455000,  421000, 2700000, 4700000, 1900000, 1770000,  660000,
        716000,  147000, 1140000, 3050000,  375000, 1950000,  340000,
       3100000,  245000,  715000, 1750000, 3500000,  835000, 2490000,
       1015000,   91200, 2400000,  635000,  302000,  204999,  341000,
        819999,  351000,  630000, 1085000,  580000,   78000, 3200000,
        695000,  355000,  619000,   81000,  486000,  802000, 2300000,
        287000,  250999,   45000, 1485000, 1825000, 3256000,  451000,
        149000,  163000,  419000,  990000,  346000,  509000,   69000,
       1380000,  256000,   97000,  199000, 2595000,  730000,  368000,
        545000,  641000,  784000,  324000, 2100000,  305000,  221000,
        828999, 1119000,  746000, 1030000, 1334000,  811999, 1331000,
        852000,  830000,  213000,   35000,  869999,  178000,  515000,
        312000,  111000,  774000,  148000,   57000,  284000,  349000,
        458000,  381000,  751000,  782000,  321000,   92800,  291000,
         73000,  655000,  263000,  217000,  539000,  142000,  910000,
        740000,  164000,  999000,   56000, 3899000,  440000,  238000,
       1295000,  541000,  894999,  844999,  288000, 1225000, 1010000,
         30000,  396000,  281000,   93000,  459999,   88000,   22000,
         79000,  198000,  182000,  861999,  836000,  696000,  596000,
        612000,   20000,   61000,  511000, 1230000,  426000,   62000,
       1450000,   71000, 2200000, 1249000, 1240000, 1068000, 1189000,
        363000,  821000,  815000,  738000,  765000,  516000,  134000,
        347000, 2650000, 2675000,  359000,  980000,  707000,  471000,
        377000,  763000,  701000,  277000,  936999,   82000,  799000,
       1451000, 1575000,   78692,  479000,   48000,  121000,  785000,
        173000, 4800000,  587000,  123000, 1290000,  193000,  721000,
       1040000, 2349000, 1165000,   42000, 1680000,  231999,  841000,
       1280000, 1090000,  449000,  724000,  126000,  795000, 2575000,
       1035000, 1260000, 8900000, 1860000, 4200000, 5500000,  430999,
       1151000,  927999,   51111,  212000,  428000,  219000,  749000,
        233000,  614000,   37500,  865000])

In [365]:
used_car['km_driven'].unique()

array([ 70000,  50000, 100000,  46000, 141000, 125000,  25000,  60000,
        78000,  35000,  24000,   5000,  33000,  28000,  59000,   4500,
       175900,  14500,  15000,  33800, 130400,  80000,  10000, 119000,
        75800,  40000,  74000,  64000, 120000,  79000,  18500,  10200,
        29000,  90000,  73300,  92000,  66764, 350000, 230000,  31000,
        39000, 166000, 110000,  54000,  63000,  76000,  11958,  20000,
         9000,   6500,  58000,  62200,  34000,  53000,  49000,  63500,
         9800,  13000,  21000,  29173,  48000,  30000,  87000,  16000,
        79350,  81000,   3600,  14272,  49213,  57000,   3240, 114000,
        53772, 140000, 175000,  36000, 155500,  23000,  22155,  78380,
       150000,  80362,  55000,   1136,  43000,   2650, 115962,  65000,
        56000, 213000, 139000, 160000, 163000,  32000,  52000,  11240,
        66000,  26500,  72000,  44000, 130000, 195000, 155000,   4000,
        41000,  10832,  14681,  51000, 200000,  19600,  46730,  21170,
       167223, 141440, 212814,  88635, 149674,   8000,  68000,  38000,
        75000,  98000,  81925,  82080,  97000,  52047,  62009,  33100,
       220000,  45000, 180000,  22000,  80577, 127500,  40903,  22288,
        61690,  64484,  75976,  85962,  57035,  72104, 164000, 124439,
        77000,   1250,  17152,  24005, 149000,  19000, 109000,  61000,
        27633,  12586,  38083,  55328,  81632, 155201,  93283, 217871,
        90165, 101504,  86017,  85036,  91086, 160254, 125531,  82000,
        84000, 560000,  14365,  61083,  66363,  11700,   7104,  45974,
        55340,  61585,  39415,  29654,  64672,  54634,  66521,  23974,
         1000,  86000,  52600,  19890,  11918,  10510,  47162,  49824,
        58500,  56580,  46507,  11451, 172000,  66508,  29900,   3000,
        85000,   7900,  17500, 206500,  88600, 186000,  11000, 138000,
        27974,  18000,   1400, 124000,  42000,  28205,  32670,  30093,
        56228,  59319,  39503,  35299,  51687,  76259,  44049,  45087,
        41125,  42215,  54206,  52547,  59110,  54565,  47564,  45143,
        61624, 132000,  10980,  20629,  69782,  63654,  59385,  70378,
        55425,  78413,  40890,  34823,  55545,  56541,  43700,  27483,
        56207,   1440,  91195,  63657,  97248,  89000,  12000,  12997,
        26430,  24600,  28481,  41988,  30375,   7658,  34400,  28942,
        53600,  53652, 106000, 205000,  79500, 197000,   9161,  19077,
       128000,  21302,  10500, 107000,  55300,  74300,  48781,  87620,
        40219,  11473,   8352,   9745,   9748,  20694,  31080,  37605,
        55850,  58850,  23839,  45454,  46957, 190000,   1500,  47000,
       116000,  26350,  71042, 167870, 133564,  23038,  43608,  11212,
        49217,  28838, 135000,  19571,  29600,  13500,  48600, 127643,
       102354,  62237,  21394,  32686,   1001,  53261,  14000,  39895,
        73000,  17000,  18591,  26766, 300000,  27620, 223000, 161327,
         6000,  71000, 144000,  37000,  26000,  27000,  13250, 101000,
         8500,  90246,  60400,  70950,   1100,  31491, 107143,  46412,
       107500,  43826,  55838, 112880,  30300,  80659,  81324, 127884,
        66755, 123084, 806599,  95851, 234000, 170000,  96000,  19014,
        23262,  35925,  40771,  30500,  55800,  66569,  81358,  82695,
        68293, 190621,  64700,  88470, 126000,  74183,      1, 192000,
        83411,  13270,  88000,   7000,  13770, 102000, 143000, 115000,
       136906, 133000,  28689,  80322,  61658, 185000,  30600, 235000,
        67000,  74500, 118700, 223660,   2000,  73756,  16400,  41395,
        71014, 181000,  89550, 149500,  83000,  44800, 156000, 146000,
        99000,  37516,  25880, 136000,   2020,  94000,  88500,  52536,
         1950, 118400,   6480,  32077,  19107,  18469,  28217,  72787,
        31063,  79641,  58692,  54784,  64156,   9500,  81366, 244000,
       312000, 145000,   7300,  72539,    101,  52328,  91505,  20500,
       154000,  41723,  68745,  27289,  24662,  28245,  27005,  39227,
        31367,  35008, 100005,  45264,  39093,  45241,   2769,  43128,
        22255,  59213,   1010,   1111,  48965,   5166,  76290,  45766,
        78771,  79357,  76736,  92645, 101849, 155836,  63230,   1758,
         1452,  35122,  92621,  92198, 152000,  78322,  54309,  34600,
        38217,  77073,  16584,  81257,   3917,  69069,  59059,  39039,
        33033,  55168,  41041,  67067,  66066,  82082,  70070,  63063,
         9528, 135200,  50300, 151624,  74820, 129000,  66778,  63400,
       157000,  38500, 103921,  14825,  43377, 102307, 245244,  68500,
         5007,  49600,  43100,  10171,  41123,  20118,  52517,  99117,
         3700,  43500, 137250,   5400,  11200,  93000,  62000,   5800,
       267000, 250000,  28635,  32114,  95149,  68458, 105546, 104000,
       132343,  26134,  52895,  42324,  60236,  10300, 142000,  28643,
         7600,  47253,   4432,  68523,  80251,  34500,  42743,  93900,
        55766, 113600, 138925, 121764, 105429,  23122,  44500,  13599,
         5200,  12700,  95000,  45839,  74510,  87293, 156040,  93415,
       101159,  68519,  55130,  65239,  58182,  91245, 102989, 108000,
       178000,  75118,   4637,  42655,  69000, 117000, 105000, 182000,
        24585,  13900,  17563, 173000, 151000, 117780,  81595,   9700,
       221000,  28740,  48500, 148620, 270000,  41090, 296823,  89255,
       168000,   5550,   1700,  45217,  44440,  91365,  90010,  31800,
        59100,  31200,  22700,  50900,   2417,  65500, 140300,  10211,
       260000,  32933,  54551,  57112,  41025,  53122,  64111,  78892,
        74113,  84775,  20778,  64441,  43192,  44416,  79991,  62601,
        89600,  60800,  69111,  20969,  20194,  34982,  44588,  57904,
        59258,  60826,   1300,  31707, 115992, 109052,  90658,  25552,
        40700,  11174,  72500,  76600,  97700,  37500,  23800,  44077,
       210000,   9422, 240000,  17100, 224642, 222435, 159000, 101100,
         1200, 134444, 238000, 165000,  63700,  74800,  60516,  76731,
        63840,  76400,  31489, 295000, 158000, 400000,  19495,  62668,
        85710,  63356, 129627,   4400,  14987,  25061,  42494,  44875,
        89741, 347089, 222252,  55250,  12500, 162000,  22038,   2500,
        89126, 134000,  42500, 131365,  48980,  98900,  13800,  99700,
        49654,  45457,  39221,  48220,  11114,  60208,  98600,  85441,
        64541,  16267,  71500,  12999,  14700,  92686,  49359, 108731,
        29976,  30646,  23600,  71318,  78098,  18054,  38406,  54350,
        32260,  58231,  59858,  73350,  88473,  96987,  77350,  61187,
        68350,  81150, 280000, 105700,  37091,  38900,   9400,  14100,
        37555,  56600,  67580,  48238,  38365,  23670,  49834,  57353,
        68308,  63240,  64916,  37161, 118000,  50852,  53500,  51500,
        79800,   6590,  49957,  43235,  50699, 140730, 256000, 218000,
        66782, 112198])

In [366]:
used_car['fuel'].unique()

array(['Petrol', 'Diesel', 'CNG', 'LPG', 'Electric'], dtype=object)

In [367]:
used_car['name'].unique()

array(['Maruti 800 AC', 'Maruti Wagon R LXI Minor',
       'Hyundai Verna 1.6 SX', ..., 'Mahindra Verito 1.5 D6 BSIII',
       'Toyota Innova 2.5 VX (Diesel) 8 Seater BS IV',
       'Hyundai i20 Magna 1.4 CRDi'], dtype=object)

In [368]:
#name column has tuple in that name is too long so we will keep only first three 
#First three words of full name as it will give more better categoricol name

In [369]:
# Now we will clean the dataset as per our need

In [370]:
##Cleaning

#first backup the copy as if while cleaning the date gets corrupted then
#no need to reload the full dataset again , so more comfortable with backup copy, if dataset
#is big

backup=used_car.copy()

In [371]:
#rename fuel column to fuel_type as it should be more understable.
used_car.rename(columns = {'fuel':'fuel_type'}, inplace = True)

In [372]:
used_car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4340 entries, 0 to 4339
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           4340 non-null   object
 1   year           4340 non-null   int64
 2   selling_price  4340 non-null   int64
 3   km_driven      4340 non-null   int64
 4   fuel_type      4340 non-null   object
dtypes: int64(3), object(2)
memory usage: 169.7+ KB

In [373]:
used_car['name']

0                             Maruti 800 AC
1                  Maruti Wagon R LXI Minor
2                      Hyundai Verna 1.6 SX
3                    Datsun RediGO T Option
4                     Honda Amaze VX i-DTEC
                       ...
4335    Hyundai i20 Magna 1.4 CRDi (Diesel)
4336             Hyundai i20 Magna 1.4 CRDi
4337                    Maruti 800 AC BSIII
4338       Hyundai Creta 1.6 CRDi SX Option
4339                       Renault KWID RXT
Name: name, Length: 4340, dtype: object

In [374]:
#to only show three words of full name
#first split the name with space

used_car['name'].str.split(' ')

0                                [Maruti, 800, AC]
1                   [Maruti, Wagon, R, LXI, Minor]
2                        [Hyundai, Verna, 1.6, SX]
3                      [Datsun, RediGO, T, Option]
4                       [Honda, Amaze, VX, i-DTEC]
                           ...
4335    [Hyundai, i20, Magna, 1.4, CRDi, (Diesel)]
4336              [Hyundai, i20, Magna, 1.4, CRDi]
4337                      [Maruti, 800, AC, BSIII]
4338       [Hyundai, Creta, 1.6, CRDi, SX, Option]
4339                          [Renault, KWID, RXT]
Name: name, Length: 4340, dtype: object

In [375]:
#after this slice the name from 0 to 3 to get three words of name

used_car['name'].str.split(' ').str.slice(0,2)

0          [Maruti, 800]
1        [Maruti, Wagon]
2       [Hyundai, Verna]
3       [Datsun, RediGO]
4         [Honda, Amaze]
              ...
4335      [Hyundai, i20]
4336      [Hyundai, i20]
4337       [Maruti, 800]
4338    [Hyundai, Creta]
4339     [Renault, KWID]
Name: name, Length: 4340, dtype: object

In [376]:
used_car['name'].str.split(' ').str.slice(0,2).str.join(' ')
#now we will only get first three words of name

0          Maruti 800
1        Maruti Wagon
2       Hyundai Verna
3       Datsun RediGO
4         Honda Amaze
            ...
4335      Hyundai i20
4336      Hyundai i20
4337       Maruti 800
4338    Hyundai Creta
4339     Renault KWID
Name: name, Length: 4340, dtype: object

In [377]:
#now put this backin car name column in dataset
used_car['name']=used_car['name'].str.split(' ').str.slice(0,2).str.join(' ')

In [378]:
used_car['name'].unique()

array(['Maruti 800', 'Maruti Wagon', 'Hyundai Verna', 'Datsun RediGO',
       'Honda Amaze', 'Maruti Alto', 'Hyundai Xcent', 'Tata Indigo',
       'Hyundai Creta', 'Maruti Celerio', 'Chevrolet Sail',
       'Toyota Corolla', 'Maruti Ciaz', 'Hyundai Venue',
       'Chevrolet Enjoy', 'Jaguar XF', 'Mercedes-Benz New',
       'Maruti Vitara', 'Audi Q5', 'Honda City', 'Tata Tigor', 'Audi A6',
       'Skoda Superb', 'Toyota Innova', 'Jeep Compass',
       'Mercedes-Benz E-Class', 'Hyundai i10', 'BMW 3', 'Audi Q7',
       'Hyundai Elantra', 'Mahindra Scorpio', 'Hyundai Santro',
       'Hyundai Grand', 'Maruti Swift', 'Maruti Eeco', 'Hyundai i20',
       'Maruti Omni', 'Mahindra Jeep', 'Tata Indica', 'Hyundai EON',
       'Toyota Etios', 'Chevrolet Tavera', 'Ford EcoSport', 'Honda Civic',
       'Skoda Rapid', 'Hyundai Getz', 'Nissan Terrano', 'Hyundai Elite',
       'Honda Brio', 'Mercedes-Benz S-Class', 'Mahindra XUV500',
       'Renault Duster', 'Mahindra Bolero', 'Fiat Avventura', 'Audi A8',
       'Volkswagen Jetta', 'Audi A4', 'BMW X1', 'Volvo V40', 'Maruti SX4',
       'BMW 7', 'Hyundai Sonata', 'Nissan Micra', 'Mahindra Xylo',
       'Renault KWID', 'Maruti Ertiga', 'Chevrolet Beat', 'Maruti Zen',
       'Maruti Baleno', 'Tata Nano', 'Chevrolet Cruze', 'Ford Figo',
       'Chevrolet Spark', 'Tata Bolt', 'Mahindra Quanto', 'Jaguar XJ',
       'Tata Nexon', 'Volkswagen Vento', 'Maruti Esteem', 'BMW 5',
       'Fiat Linea', 'Renault Scala', 'Mahindra XUV300', 'Maruti S-Cross',
       'Volkswagen Ameo', 'Mahindra Renault', 'Chevrolet Optra',
       'Honda Mobilio', 'Tata Zest', 'Skoda Fabia', 'Datsun GO',
       'Ford Fiesta', 'Tata Sumo', 'Honda Jazz', 'Tata Tiago',
       'Mahindra Marazzo', 'Maruti A-Star', 'Skoda Yeti', 'Ford Aspire',
       'Mitsubishi Outlander', 'Ford Endeavour', 'Volkswagen Polo',
       'Maruti Ritz', 'Maruti Estilo', 'Tata Manza', 'Tata Safari',
       'Toyota Fortuner', 'Ford Ecosport', 'Mahindra Supro',
       'Mahindra KUV', 'Tata New', 'Honda Accord', 'Mahindra TUV',
       'Honda BR-V', 'Ford Ikon', 'Fiat Punto', 'Honda WR-V',
       'Skoda Laura', 'Hyundai Tucson', 'Mercedes-Benz GL-Class',
       'Renault Pulse', 'Mercedes-Benz C-Class', 'BMW X5', 'Maruti Gypsy',
       'Mahindra Verito', 'Tata Hexa', 'Tata Venture',
       'Chevrolet Captiva', 'Chevrolet Aveo', 'Mahindra Thar',
       'Skoda Octavia', 'Hyundai Accent', 'Land Rover', 'Renault Lodgy',
       'Fiat Grande', 'Fiat Palio', 'Mercedes-Benz M-Class',
       'Maruti Ignis', 'Nissan Sunny', 'Audi Q3', 'Audi A5',
       'Toyota Camry', 'Mitsubishi Pajero', 'Tata Xenon',
       'Renault Captur', 'Volkswagen Passat', 'Ford Freestyle',
       'Mahindra Alturas', 'Tata Aria', 'Honda CR-V', 'Daewoo Matiz',
       'Datsun redi-GO', 'MG Hector', 'Hyundai Santa', 'Force One',
       'Mahindra NuvoSport', 'Maruti S-Presso', 'Toyota Yaris',
       'Ford Fusion', 'Renault Fluence', 'Nissan Evalia',
       'Renault Koleos', 'Tata Harrier', 'Tata Altroz', 'Isuzu D-Max',
       'Nissan Kicks', 'OpelCorsa 1.6Gls', 'Honda BRV', 'Mercedes-Benz B',
       'Fiat 500', 'Renault Triber', 'Mitsubishi Montero',
       'Nissan X-Trail', 'Volvo XC60', 'Ambassador Classic',
       'Ford Classic', 'Kia Seltos', 'OpelCorsa 1.4', 'Maruti Grand',
       'Mahindra Ingenio', 'Ambassador Grand', 'Volkswagen CrossPolo',
       'Tata Spacio', 'Tata Winger', 'Audi RS7', 'Ambassador CLASSIC',
       'Mercedes-Benz GLS', 'Volvo XC', 'Toyota Qualis'], dtype=object)

In [379]:
used_car

               name  year  selling_price  km_driven fuel_type
0        Maruti 800  2007          60000      70000    Petrol
1      Maruti Wagon  2007         135000      50000    Petrol
2     Hyundai Verna  2012         600000     100000    Diesel
3     Datsun RediGO  2017         250000      46000    Petrol
4       Honda Amaze  2014         450000     141000    Diesel
...             ...   ...            ...        ...       ...
4335    Hyundai i20  2014         409999      80000    Diesel
4336    Hyundai i20  2014         409999      80000    Diesel
4337     Maruti 800  2009         110000      83000    Petrol
4338  Hyundai Creta  2016         865000      90000    Diesel
4339   Renault KWID  2016         225000      40000    Petrol

[4340 rows x 5 columns]

In [380]:
used_car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4340 entries, 0 to 4339
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           4340 non-null   object
 1   year           4340 non-null   int64
 2   selling_price  4340 non-null   int64
 3   km_driven      4340 non-null   int64
 4   fuel_type      4340 non-null   object
dtypes: int64(3), object(2)
memory usage: 169.7+ KB

In [381]:
used_car.describe()

              year  selling_price      km_driven
count  4340.000000   4.340000e+03    4340.000000
mean   2013.090783   5.041273e+05   66215.777419
std       4.215344   5.785487e+05   46644.102194
min    1992.000000   2.000000e+04       1.000000
25%    2011.000000   2.087498e+05   35000.000000
50%    2014.000000   3.500000e+05   60000.000000
75%    2016.000000   6.000000e+05   90000.000000
max    2020.000000   8.900000e+06  806599.000000

In [382]:
#till 75% third quartile, car are between 60 lacks aasume but after that it is 89 lack so 
#so there is an outlier
#so checking how many outlier is there in this
#first give a paricular condition to check this above

In [383]:
#Condiiton is that first check outlier with 
#condition take seems > then 6e6 60 lack assume then remove that outlier
#so there two columns above 60 lack so that are outlier
#drop that column
used_car=used_car[used_car['selling_price']<6e6].reset_index(drop=True)

In [384]:
used_car

               name  year  selling_price  km_driven fuel_type
0        Maruti 800  2007          60000      70000    Petrol
1      Maruti Wagon  2007         135000      50000    Petrol
2     Hyundai Verna  2012         600000     100000    Diesel
3     Datsun RediGO  2017         250000      46000    Petrol
4       Honda Amaze  2014         450000     141000    Diesel
...             ...   ...            ...        ...       ...
4333    Hyundai i20  2014         409999      80000    Diesel
4334    Hyundai i20  2014         409999      80000    Diesel
4335     Maruti 800  2009         110000      83000    Petrol
4336  Hyundai Creta  2016         865000      90000    Diesel
4337   Renault KWID  2016         225000      40000    Petrol

[4338 rows x 5 columns]

In [385]:
#now for better understanding i am saving the this cleaned csv in file with other name

used_car.to_csv('cleaned_used_cars.csv')

In [386]:
##Build the Model

#extract the feature and not want drop , will come all in X
#and target column price ,which is dropped will come in y 

X=used_car.drop(columns='selling_price')
y=used_car['selling_price']  #target column

In [387]:
X #all features except price

               name  year  km_driven fuel_type
0        Maruti 800  2007      70000    Petrol
1      Maruti Wagon  2007      50000    Petrol
2     Hyundai Verna  2012     100000    Diesel
3     Datsun RediGO  2017      46000    Petrol
4       Honda Amaze  2014     141000    Diesel
...             ...   ...        ...       ...
4333    Hyundai i20  2014      80000    Diesel
4334    Hyundai i20  2014      80000    Diesel
4335     Maruti 800  2009      83000    Petrol
4336  Hyundai Creta  2016      90000    Diesel
4337   Renault KWID  2016      40000    Petrol

[4338 rows x 4 columns]

In [388]:
y # target column

0        60000
1       135000
2       600000
3       250000
4       450000
         ...
4333    409999
4334    409999
4335    110000
4336    865000
4337    225000
Name: selling_price, Length: 4338, dtype: int64

In [389]:
#we will import necessary files all
#train_test_split from sklearn

from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y, test_size=0.2)

In [390]:
#using linerRegression model
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score #from r2_score we measure regression problems
from sklearn.preprocessing import OneHotEncoder

In [391]:
used_car

               name  year  selling_price  km_driven fuel_type
0        Maruti 800  2007          60000      70000    Petrol
1      Maruti Wagon  2007         135000      50000    Petrol
2     Hyundai Verna  2012         600000     100000    Diesel
3     Datsun RediGO  2017         250000      46000    Petrol
4       Honda Amaze  2014         450000     141000    Diesel
...             ...   ...            ...        ...       ...
4333    Hyundai i20  2014         409999      80000    Diesel
4334    Hyundai i20  2014         409999      80000    Diesel
4335     Maruti 800  2009         110000      83000    Petrol
4336  Hyundai Creta  2016         865000      90000    Diesel
4337   Renault KWID  2016         225000      40000    Petrol

[4338 rows x 5 columns]

In [392]:
#now in onehatencoder we r gona make the object of onehatencoder
#and in that we r gona fit all categorical values of X

ohe = OneHotEncoder()
ohe.fit(X[['name','fuel_type']])

OneHotEncoder()

In [393]:
#now transform all X_traine and X_test using this onehotencoder

from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

In [394]:
ohe.categories_

[array(['Ambassador CLASSIC', 'Ambassador Classic', 'Ambassador Grand',
        'Audi A4', 'Audi A5', 'Audi A6', 'Audi A8', 'Audi Q3', 'Audi Q5',
        'Audi Q7', 'BMW 3', 'BMW 5', 'BMW 7', 'BMW X1', 'BMW X5',
        'Chevrolet Aveo', 'Chevrolet Beat', 'Chevrolet Captiva',
        'Chevrolet Cruze', 'Chevrolet Enjoy', 'Chevrolet Optra',
        'Chevrolet Sail', 'Chevrolet Spark', 'Chevrolet Tavera',
        'Daewoo Matiz', 'Datsun GO', 'Datsun RediGO', 'Datsun redi-GO',
        'Fiat 500', 'Fiat Avventura', 'Fiat Grande', 'Fiat Linea',
        'Fiat Palio', 'Fiat Punto', 'Force One', 'Ford Aspire',
        'Ford Classic', 'Ford EcoSport', 'Ford Ecosport', 'Ford Endeavour',
        'Ford Fiesta', 'Ford Figo', 'Ford Freestyle', 'Ford Fusion',
        'Ford Ikon', 'Honda Accord', 'Honda Amaze', 'Honda BR-V',
        'Honda BRV', 'Honda Brio', 'Honda CR-V', 'Honda City',
        'Honda Civic', 'Honda Jazz', 'Honda Mobilio', 'Honda WR-V',
        'Hyundai Accent', 'Hyundai Creta', 'Hyundai EON',
        'Hyundai Elantra', 'Hyundai Elite', 'Hyundai Getz',
        'Hyundai Grand', 'Hyundai Santa', 'Hyundai Santro',
        'Hyundai Sonata', 'Hyundai Tucson', 'Hyundai Venue',
        'Hyundai Verna', 'Hyundai Xcent', 'Hyundai i10', 'Hyundai i20',
        'Isuzu D-Max', 'Jaguar XF', 'Jaguar XJ', 'Jeep Compass',
        'Kia Seltos', 'Land Rover', 'MG Hector', 'Mahindra Alturas',
        'Mahindra Bolero', 'Mahindra Ingenio', 'Mahindra Jeep',
        'Mahindra KUV', 'Mahindra Marazzo', 'Mahindra NuvoSport',
        'Mahindra Quanto', 'Mahindra Renault', 'Mahindra Scorpio',
        'Mahindra Supro', 'Mahindra TUV', 'Mahindra Thar',
        'Mahindra Verito', 'Mahindra XUV300', 'Mahindra XUV500',
        'Mahindra Xylo', 'Maruti 800', 'Maruti A-Star', 'Maruti Alto',
        'Maruti Baleno', 'Maruti Celerio', 'Maruti Ciaz', 'Maruti Eeco',
        'Maruti Ertiga', 'Maruti Esteem', 'Maruti Estilo', 'Maruti Grand',
        'Maruti Gypsy', 'Maruti Ignis', 'Maruti Omni', 'Maruti Ritz',
        'Maruti S-Cross', 'Maruti S-Presso', 'Maruti SX4', 'Maruti Swift',
        'Maruti Vitara', 'Maruti Wagon', 'Maruti Zen', 'Mercedes-Benz B',
        'Mercedes-Benz C-Class', 'Mercedes-Benz E-Class',
        'Mercedes-Benz GL-Class', 'Mercedes-Benz GLS',
        'Mercedes-Benz M-Class', 'Mercedes-Benz New', 'Mitsubishi Montero',
        'Mitsubishi Outlander', 'Mitsubishi Pajero', 'Nissan Evalia',
        'Nissan Kicks', 'Nissan Micra', 'Nissan Sunny', 'Nissan Terrano',
        'Nissan X-Trail', 'OpelCorsa 1.4', 'OpelCorsa 1.6Gls',
        'Renault Captur', 'Renault Duster', 'Renault Fluence',
        'Renault KWID', 'Renault Koleos', 'Renault Lodgy', 'Renault Pulse',
        'Renault Scala', 'Renault Triber', 'Skoda Fabia', 'Skoda Laura',
        'Skoda Octavia', 'Skoda Rapid', 'Skoda Superb', 'Skoda Yeti',
        'Tata Altroz', 'Tata Aria', 'Tata Bolt', 'Tata Harrier',
        'Tata Hexa', 'Tata Indica', 'Tata Indigo', 'Tata Manza',
        'Tata Nano', 'Tata New', 'Tata Nexon', 'Tata Safari',
        'Tata Spacio', 'Tata Sumo', 'Tata Tiago', 'Tata Tigor',
        'Tata Venture', 'Tata Winger', 'Tata Xenon', 'Tata Zest',
        'Toyota Camry', 'Toyota Corolla', 'Toyota Etios',
        'Toyota Fortuner', 'Toyota Innova', 'Toyota Qualis',
        'Toyota Yaris', 'Volkswagen Ameo', 'Volkswagen CrossPolo',
        'Volkswagen Jetta', 'Volkswagen Passat', 'Volkswagen Polo',
        'Volkswagen Vento', 'Volvo V40', 'Volvo XC', 'Volvo XC60'],
       dtype=object),
 array(['CNG', 'Diesel', 'Electric', 'LPG', 'Petrol'], dtype=object)]

In [395]:
column_trans=make_column_transformer((OneHotEncoder(categories=ohe.categories_),['name','fuel_type']),
                                  remainder='passthrough')

In [396]:
lr=LinearRegression()

In [397]:
pipe=make_pipeline(column_trans,lr)

In [398]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Ambassador CLASSIC', 'Ambassador Classic', 'Ambassador Grand',
       'Audi A4', 'Audi A5', 'Audi A6', 'Audi A8', 'Audi Q3', 'Audi Q5',
       'Audi Q7', 'BMW 3', 'BMW 5', 'BMW 7', 'BMW X1', 'BMW X5',
       'Chevrolet Aveo', 'Chevrolet Beat', 'Chevrolet Captiva...
       'Toyota Fortuner', 'Toyota Innova', 'Toyota Qualis',
       'Toyota Yaris', 'Volkswagen Ameo', 'Volkswagen CrossPolo',
       'Volkswagen Jetta', 'Volkswagen Passat', 'Volkswagen Polo',
       'Volkswagen Vento', 'Volvo V40', 'Volvo XC', 'Volvo XC60'],
      dtype=object),
                                                                            array(['CNG', 'Diesel', 'Electric', 'LPG', 'Petrol'], dtype=object)]),
                                                  ['name', 'fuel_type'])])),
                ('linearregression', LinearRegression())])

In [399]:
y_pred=pipe.predict(X_test)

In [400]:
r2_score(y_test,y_pred)

0.26066644949234485

In [401]:
scores=[]
for i in range(10):
    X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=i)
    lr=LinearRegression()
    pipe=make_pipeline(column_trans,lr)
    pipe.fit(X_train,y_train)
    y_pred=pipe.predict(X_test)
    scores.append(r2_score(y_test,y_pred))

In [402]:
import numpy as np
np.argmax(scores)

7

In [403]:
scores[np.argmax(scores)]

0.5114402211454135

In [404]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=np.argmax(scores))
lr=LinearRegression()
pipe=make_pipeline(column_trans,lr)
pipe.fit(X_train,y_train)
y_pred=pipe.predict(X_test)
r2=r2_score(y_test,y_pred)

In [405]:
import pickle

In [406]:
pickle.dump(pipe,open('LinearRegressionModel.pkl','wb'))

In [407]:
if r2 >= 0.7:
    print("The model is doing a good job explaining the variation in prices.")
elif 0.5 <= r2 < 0.7:
    print("The model is decent but may be improved.")
else:
    print("The model needs improvement as it doesn't explain the variation well.")

The model is decent but may be improved.

In [408]:
# Import necessary libraries
import pandas as pd

# Get user input for feature values
name = input("Enter vehicle name: ")
year = int(input("Enter vehicle purchased year: "))
km_driven = float(input("Enter kms driven: "))
fuel_type = input("Enter fuel_type: ")

# Make a prediction based on user input
user_input = pd.DataFrame([[name, year, km_driven, fuel_type]],
                          columns=['name', 'year', 'km_driven', 'fuel_type'])

predicted_price = pipe.predict(user_input)

print(f"Predicted Price for the given input: ${predicted_price[0]:.2f}")

Enter vehicle name:  Maruti 800
Enter vehicle purchased year:  2019
Enter kms driven:  6000
Enter fuel_type:  Diesel

Predicted Price for the given input: $1163916.18